#tay-kambodga .modal-header {
	background-image: url("../img/01.jpg");
}

#tanzaniya-zanzibar .modal-header {
	background-image: url("../img/01.jpg");
}

#shpicbergen-severnoe .modal-header {
	background-image: url("../img/01.jpg");
}

#ekspidiciya-marokko .modal-header {
	background-image: url("../img/01.jpg");
}

#greece-modal .modal-header {
	background-image: url("../img/02.jpg");
}

#islandiya-in-gip .modal-header {
	background-image: url("../img/01.jpg");
}

#shoicbergen-leto-in-arktik .modal-header {
	background-image: url("../img/01.jpg");
}

#grenlandiya-must-have .modal-header {
	background-image: url("../img/01.jpg");
}

#ibiza-yahting .modal-header {
	background-image: url("../img/01.jpg");
}

#italiya-na-car .modal-header {
	background-image: url("../img/01.jpg");
}

#shpicbergen-arctic-zakat .modal-header {
	background-image: url("../img/01.jpg");
}

#mongoliya .modal-header {
	background-image: url("../img/01.jpg");
}

#madagascar .modal-header {
	background-image: url("../img/01.jpg");
}

#kanaru-yahting-vylkan .modal-header {
	background-image: url("../img/01.jpg");
}

#new-year-seyshels .modal-header {
	background-image: url("../img/01.jpg");
}

#finlandiya .modal-header {
	background-image: url("../img/01.jpg");
}


.animate-wrap input[type='submit']:focus{
	    color: red; }
.animate-wrap input[type='submit']:hover{
	    color: red; }

.button-social {
    cursor: pointer !important;
    position: absolute;
    top: 0;
    right: 0px;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    -moz-transform: rotateY(90deg);
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    padding: 10px;
    display: inline-block;
    margin-top: 30px;
    margin-right: 50px;
}

@media (max-width: 1160px){
    .button-social {
    margin-right: 10px;}
}

.button-social:hover {
    background-color: #3b5998;
    border: 2px solid #3b5998;
}

.button-social:focus {
    background-color: #3b5998;
    border: 2px solid #3b5998;
}

.p-calendar{
    padding-left: 50px;
    padding-right: 50px;
    margin: 20px 0px 10px;
}

.yellow {
    color: #f7b32b;
}

.center{
        text-align: center;
    }   