#tay-kambodga .modal-header {
	background-image: url("../img/01.jpg");
}

#tanzaniya-zanzibar .modal-header {
	background-image: url("../img/01.jpg");
}

#shpicbergen-severnoe .modal-header {
	background-image: url("../img/01.jpg");
}

#ekspidiciya-marokko .modal-header {
	background-image: url("../img/01.jpg");
}

#greece-modal .modal-header {
	background-image: url("../img/01.jpg");
}

#islandiya-in-gip .modal-header {
	background-image: url("../img/01.jpg");
}

#shoicbergen-leto-in-arktik .modal-header {
	background-image: url("../img/01.jpg");
}

#grenlandiya-must-have .modal-header {
	background-image: url("../img/01.jpg");
}

#ibiza-yahting .modal-header {
	background-image: url("../img/01.jpg");
}

#italiya-na-car .modal-header {
	background-image: url("../img/01.jpg");
}

#shpicbergen-arctic-zakat .modal-header {
	background-image: url("../img/01.jpg");
}

#mongoliya .modal-header {
	background-image: url("../img/01.jpg");
}

#madagascar .modal-header {
	background-image: url("../img/01.jpg");
}

#kanaru-yahting-vylkan .modal-header {
	background-image: url("../img/01.jpg");
}

#new-year-seyshels .modal-header {
	background-image: url("../img/01.jpg");
}

#finlandiya .modal-header {
	background-image: url("../img/01.jpg");
}
