body{
  #control-sidebar{
    display: none;
  }
}
.form-group{
  //background: #f0f0f0;
}
.form-group_sub{
  padding: 5px 0 5px 30px;
}
section.index-upcomingEvents{
  .img-block{
    .col-md-4{
      padding-top: 30px;
    }
  }
}
form.index-header-form{
  .form-group-img{
    text-align: center;
    img{
      max-width: 100%;
      height: 100px;
    }
    button{
      margin: 20px auto;
      display: block;
    }
  }
  .box-footer{
    text-align: center;
  }
}
